/build/
/includes/

vendor/mariadb-connector-c/*
vendor/spdlog/*
vendor/stb/*
vendor/pcg-cpp/*
vendor/cryptopp/src/*

!/vendor/mariadb-connector-c
!/vendor/spdlog
!/vendor/stb
!/vendor/pcg-cpp
!/vendor/cryptopp/src
!/vendor/CMakeLists.txt
!/vendor/cryptopp/CMakeLists.txt
